name: unit tests

on:
  pull_request: ~
  push: ~
  schedule:
      # Do not make it the first of the month and/or midnight since it is a very busy time
      - cron: '* 10 5 * *'
  workflow_dispatch: ~

jobs:
  unit-tests:
    name: PHP ${{ matrix.php }} - Symfony ${{ matrix.symfony }}${{ matrix.composer-flags != '' && format(' - Composer {0}', matrix.composer-flags) || '' }}
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}

    strategy:
      fail-fast: false
      matrix:
        php: ['8.1', '8.2', '8.3', '8.4']
        symfony: ['6.4.*', '7.2.*', '7.3.*']
        dependency-versions: ['highest']
        composer-stable: ['1']
        experimental: [false]
        include:
          - php: '8.1'
            symfony: '6.4.*'
            dependency-versions: 'lowest'
            experimental: false
          - php: 'latest'
            symfony: '7.3.*'
            dependency-versions: 'highest'
            composer-stable: '0'
            experimental: true
        exclude:
          - php: '8.1'
            symfony: '7.2.*'
          - php: '8.1'
            symfony: '7.3.*'

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: set up php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer, flex

      - name: enable Symfony Flex plugin
        run: composer global config --no-interaction allow-plugins.symfony/flex true

      - name: install composer dependencies
        env:
          SYMFONY_REQUIRE: ${{ matrix.symfony }}
          COMPOSER_PREFER_STABLE: ${{ matrix.composer-stable }}
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: ${{ matrix.dependency-versions }}

      - name: run tests
        run: vendor/bin/simple-phpunit --colors=always || ${{ matrix.experimental }}
